:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #000;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* THE ANIMATION */

main.lcg {
  /* Limit left values between 0 and 800 (up to 80vw)
   * <div>s are 20vmin in diameter, so they will stay
   * in view at all times.
   */
  --p: 800;
  /* Keep top between 0 and 800 for the same reason. */
  --q: 2700000;

  --left1: calc(0.1vw *  mod(var(--r1), var(--p)));
  --left2: calc(0.1vw *  mod(var(--r2), var(--p)));
  --left3: calc(0.1vw *  mod(var(--r3), var(--p)));
  --left4: calc(0.1vw *  mod(var(--r4), var(--p)));
  --left5: calc(0.1vw *  mod(var(--r5), var(--p)));
  --left6: calc(0.1vw *  mod(var(--r6), var(--p)));
  --left7: calc(0.1vw *  mod(var(--r7), var(--p)));

  --top1: calc(0.1vh * var(--r1) / var(--q));
  --top2: calc(0.1vh * var(--r2) / var(--q));
  --top3: calc(0.1vh * var(--r3) / var(--q));
  --top4: calc(0.1vh * var(--r4) / var(--q));
  --top5: calc(0.1vh * var(--r5) / var(--q));
  --top6: calc(0.1vh * var(--r6) / var(--q));
  --top7: calc(0.1vh * var(--r7) / var(--q));

  animation-name: shuffle;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}


/* Checkbox to toggle animation */
.lcg:has(input:checked) {
  animation-play-state: paused;
}

input ~ span::after {
  content: "Pause animation"
}

input:checked ~ span::after {
  content: "Animation paused"
}


/* Change the value of --seed 50 times per cycle.
 * The pseudo-random values for --r0 to --r7 will
 * be recalculated in a cascade.
 */
@keyframes shuffle {
  0%   { --seed:  0; }
  2%   { --seed:  1; }
  4%   { --seed:  2; }
  6%   { --seed:  3; }
  8%   { --seed:  4; }
  10%  { --seed:  5; }
  12%  { --seed:  6; }
  14%  { --seed:  7; }
  16%  { --seed:  8; }
  18%  { --seed:  9; }
  20%  { --seed: 10; }
  22%  { --seed: 11; }
  24%  { --seed: 12; }
  26%  { --seed: 13; }
  28%  { --seed: 14; }
  30%  { --seed: 15; }
  32%  { --seed: 16; }
  34%  { --seed: 17; }
  36%  { --seed: 18; }
  38%  { --seed: 19; }
  40%  { --seed: 20; }
  42%  { --seed: 21; }
  44%  { --seed: 22; }
  46%  { --seed: 23; }
  48%  { --seed: 24; }
  50%  { --seed: 25; }
  52%  { --seed: 26; }
  54%  { --seed: 27; }
  56%  { --seed: 28; }
  58%  { --seed: 29; }
  60%  { --seed: 30; }
  62%  { --seed: 31; }
  64%  { --seed: 32; }
  66%  { --seed: 33; }
  68%  { --seed: 34; }
  70%  { --seed: 35; }
  72%  { --seed: 36; }
  74%  { --seed: 37; }
  76%  { --seed: 38; }
  78%  { --seed: 39; }
  80%  { --seed: 40; }
  82%  { --seed: 41; }
  84%  { --seed: 42; }
  86%  { --seed: 43; }
  88%  { --seed: 44; }
  90%  { --seed: 45; }
  92%  { --seed: 46; }
  94%  { --seed: 47; }
  96%  { --seed: 48; }
  98%  { --seed: 49; }
  100% { --seed: 50; }
}


/* THE ANIMATED OBJECTS */

/* Make div size responsive; apply transition */
div {
  --size: 20vmin;
  font-size: calc(0.15 * var(--size));
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);

  position: absolute;
  transition: all 2s ease-in-out;
}
/* Show the random number the div is using
 * • Little-end digits define value for `left`
 * • Big-end digits define value for `top`
 */
div::after {
  color: #fff;
  font-weight: bold;
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}


div#r1 {
  top: var(--top1);
  left: var(--left1);
  background-color: #900;
  z-index: mod(var(--seed) + 1, 7);
}
div#r1::after {
  content: counter(r1);
}
div#r2 {
  top: var(--top2);
  left: var(--left2);
  background-color: #a60;
  z-index: mod(var(--seed) + 2, 7);
}
div#r2::after {
  content: counter(r2);
}
div#r3 {
  top: var(--top3);
  left: var(--left3);
  background-color: #990;
  z-index: mod(var(--seed) + 3, 7);
}
div#r3::after {
  content: counter(r3);
}
div#r4 {
  top: var(--top4);
  left: var(--left4);
  background-color: #093;
  z-index: mod(var(--seed) + 4, 7);
}
div#r4::after {
  content: counter(r4);
}
div#r5 {
  top: var(--top5);
  left: var(--left5);
  background-color: #059;
  z-index: mod(var(--seed) + 5, 7);
}
div#r5::after {
  content: counter(r5);
}
div#r6 {
  top: var(--top6);
  left: var(--left6);
  background-color: #009;
  z-index: mod(var(--seed) + 6, 7);
}
div#r6::after {
  content: counter(r6);
}
div#r7 {
  top: var(--top7);
  left: var(--left7);
  background-color: #609;
  z-index: mod(var(--seed), 7);
}
div#r7::after {
  content: counter(r7);
}