:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --light: #ddd;
  --mid: #888;
  --dark: #222;
  --gap: 0.5em;

  --primary: #060;
  --primary-border: #393;
  --primary-active: #030;

  color: var(--light);
  background-color: var(--dark);

  animation-name: scramble;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  position: relative;
  width: 600px;
  height: 600px;
  border: 1px solid white;
}

div {
  --size: 100px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 100px;
  transition: all 1s ease-in-out;
}
div::after {
  color: #fff;
  font-weight: bold;
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
}

div#s01 {
  top: var(--top01);
  left: var(--left01);
  background-color: #900;
}
div#s01::after {
  content: counter(s01);
}
div#s02 {
  top: var(--top02);
  left: var(--left02);
  background-color: #a60;
}
div#s02::after {
  content: counter(s02);
}
div#s03 {
  top: var(--top03);
  left: var(--left03);
  background-color: #990;
}
div#s03::after {
  content: counter(s03);
}
div#s04 {
  top: var(--top04);
  left: var(--left04);
  background-color: #093;
}
div#s04::after {
  content: counter(s04);
}
div#s05 {
  top: var(--top05);
  left: var(--left05);
  background-color: #059;
}
div#s05::after {
  content: counter(s05);
}
div#s06 {
  top: var(--top06);
  left: var(--left06);
  background-color: #009;
}
div#s06::after {
  content: counter(s06);
}
div#s07 {
  top: var(--top07);
  left: var(--left07);
  background-color: #609;
}
div#s07::after {
  content: counter(s07);
}


@keyframes scramble {
  0%   { --s:  51; }
  2%   { --s:  1; }
  4%   { --s:  2; }
  6%   { --s:  3; }
  8%   { --s:  4; }
  10%  { --s:  5; }
  12%  { --s:  6; }
  14%  { --s:  7; }
  16%  { --s:  8; }
  18%  { --s:  9; }
  20%  { --s: 10; }
  22%  { --s: 11; }
  24%  { --s: 12; }
  26%  { --s: 13; }
  28%  { --s: 14; }
  30%  { --s: 15; }
  32%  { --s: 16; }
  34%  { --s: 17; }
  36%  { --s: 18; }
  38%  { --s: 19; }
  40%  { --s: 20; }
  42%  { --s: 21; }
  44%  { --s: 22; }
  46%  { --s: 23; }
  48%  { --s: 24; }
  50%  { --s: 25; }
  52%  { --s: 26; }
  54%  { --s: 27; }
  56%  { --s: 28; }
  58%  { --s: 29; }
  60%  { --s: 30; }
  62%  { --s: 31; }
  64%  { --s: 32; }
  66%  { --s: 33; }
  68%  { --s: 34; }
  70%  { --s: 35; }
  72%  { --s: 36; }
  74%  { --s: 37; }
  76%  { --s: 38; }
  78%  { --s: 39; }
  80%  { --s: 40; }
  82%  { --s: 41; }
  84%  { --s: 42; }
  86%  { --s: 43; }
  88%  { --s: 44; }
  90%  { --s: 45; }
  92%  { --s: 46; }
  94%  { --s: 47; }
  96%  { --s: 48; }
  98%  { --s: 49; }
  100% { --s: 50; }
}